.cart-page {
  @include flex-center-column;
  font-family: "Afacad", sans-serif;

  h1 {
    font-family: "Oswald", sans-serif;
    font-size: 80px;
  }

  .cart-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    justify-content: space-between;
  }

  .checkout-section-wrapper {
    display: flex;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    background-color: black;

    .checkout-section {
      color: $alice;
    }
  }
}
