.product-page {
  .product-window {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $alice;

    .product-info {
      text-decoration: none;
      width: 50%;

      h3 {
        color: $mortuum;
        font-family: "Oswald", sans-serif;
        font-size: 80px;
      }

      p {
        color: black;
        font-family: "Oswald", sans-serif;
        font-size: 40px;
      }
    }
  }
}
